.flex-row{
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;

}
.gap-1{
    gap: 1rem;
}
.container {
    
    display: flex;
    flex-direction: column;
    width: 50%;
  }

 .textarea-write {
    position: relative;
    height: 800px;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 24px;
    resize: none;
    
  } 
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .submit-post-button, .submit-edit-button, .submit-delete-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 24px;
    font-family: sans-serif;
  }
  .submit-post-button:hover, .submit-edit-button:hover, .submit-delete-button:hover {
    background-color: white;
    color: navy;
  }
  
  .submit-post-button:active, .submit-edit-button:active, .submit-delete-button:active {
    color: lightgreen;
  }
  
  .page-header{
    align-items: center;
    font-size: 50px;
  }
  
  .dangerous-dev{
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 24px;
  }