.fetch-user-note button {
  background-color: #020f02;
  color: white;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.fetch-user-note button:hover {
  background-color: #f6dd01;
}


